<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Document</title>
</head>
<body>
    <h1>Library Test</h1>
    <div class="main">
        <div class="menu">
            <h1>Books Library</h1>
            <ul>
                <% for (let book of books) { %>
                    <li>
                        <a href="/books/show/<%= book._id %>">
                            <img src=<%= book.image %> width="300"/>
                        </a>
                        <h3><%= book.title %></h3>
                        <p><%= book.author %></p>
                    </li>
                    <% } %>
            </ul>
            <h2><a href="/books/new">Recommend a Book!</a></h2>
        </div>

        <div class="menu">
            <h1>Movies Library</h1>
            <ul>
                <% for (let movie of movies) { %>
                    <li>
                        <a href="/movies/show/<%= movie._id %>">
                            <img src=<%= movie.image %> width="300"/>
                        </a>
                        <h3><%= movie.title %></h3>
                        <p><%= movie.director %></p>
                    </li>
                    <% } %>
            </ul>
            <h2><a href="/movies/new">Recommend a Movie!</a></h2>
        </div>
    </div>    






</body>
</html>