<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/show.css"/>
    <script src="/styles/app.js" defer></script>
    <title><%= movie.title %></title>
</head>
<body>
    <header>
        <img class="title_image" src="/assets/req_rec_logo.png" alt="Site Logo">
    </header>

    <main>
        <div id="movie-shelf">
            <div>
                <h1><%= movie.title %></h1>
                <img class="show-image" src="<%= movie.image %>" width="300"/>
                <p><b>Director:</b> <%= movie.director %></p>
                <p><b>Genre:</b> <%= movie.genre %></p>
                <p><b>Description:</b> <%= movie.description %></p>
            </div>

            <footer>
                <a href="/movies/<%= movie._id %>/edit">Edit</a>
                
                <button id="openModal" class="nav">Remove Movie from Shelf</button>
                        <div id="modal">
                            <div id="modal-textbox">
                                <p>Are you sure you want to remove this movie from the shelf?</p>
                                <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
                                    <button type="submit">Remove Movie</button>
                                </form>
                                <button id="close">Cancel</button>
                                
                            </div>
                        </div>
                        
                <a href="/">Home</a>
            </footer>
        </div>
    </main>

    <div>
        <p class="credit">A Site by 8712CE</p>
    </div>
</body>
</html>