<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/show.css"/>
    <script src="/styles/app.js" defer></script>
    <title><%= book.title %></title>
</head>
<body>
    <header>
        <img class="title_image" src="/assets/req_rec_logo.png" alt="Site Logo">
    </header>
    <main>
        <div id="book-shelf">
            <div>
                <h1><%= book.title %></h1>
                <img class="show-image" src=<%= book.image %> width="300"/>
                <p><b>Author:</b> <%= book.author %></p>
                <p><b>Genre:</b> <%= book.genre %></p>
                <p><b>Subgenre:</b> <%= book.subgenre %></p>
                <p><b>Description:</b> <%= book.description %></p>
            </div>

            <footer>
                <a href="/books/<%= book._id %>/edit">Edit</a>
                
                <button id="openModal" class="nav">Remove Book from Shelf</button>
                        <div id="modal">
                            <div id="modal-textbox">
                                <p>Are you sure you want to remove this book from the shelf?</p>
                                <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
                                    <button type="submit">Remove Book</button>
                                </form>
                                <button id="close">Cancel</button>
                                
                            </div>
                        </div>
                        
                <a href="/">Home</a>
            </footer>
        </div>
    </main>
    
    <div>
        <p class="credit">A Site by 8712CE</p>
    </div>
</body>
</html>